<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %m [%c{1}]%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <logger name="com.yandex.ydb.jdbc" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>